@{
    ViewData["Title"] = "Hotel Elitostroj";
}
@model RoomReservationsVM.Models.Shared.RoomVm

<form asp-controller="RoomView" method="post">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="RoomId" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Price" />
    <input type="hidden" asp-for="ShortDescription" />
    <input type="hidden" asp-for="LongDescription" />

    @for (int i = 0; i < Model.RoomIdList.Count; i++)
    {
        <input type="hidden" asp-for="RoomIdList[i]" />
    }

    <br />

    <div class="text-center">
        <h4>Dobrodošli na spletni strani hotela Elitostroj</h4>
        <p>Vabljeni k pregledu nastanitev!</p>

        <div class="container mt-5">

            <div class="row justify-content-center">
                <div class="col-md-8">


                    <div class="card mb-4">

                        <button asp-action="PreviousRoom" class="float-button float-button-left" type="submit" disabled>
                            <span data-feather="arrow-left"></span>
                        </button>

                        <div class="card-header">
                            <h5 class="card-title">@Model.Name</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>@Model.ShortDescription</strong></p>
                            <p class="card-text">@Model.LongDescription</p>

                            <h6 class="card-subtitle mb-2 text-muted">Cena na noč: <strong>@Model.Price.ToString("n2")€</strong></h6>
                        </div>

                        <button asp-action="NextRoom" class="float-button float-button-right" type="submit" disabled>
                            <span data-feather="arrow-right"></span>
                        </button>

                    </div>


                </div>
            </div>
   
            <partial name="~/Views/RoomView/BookingPartial.cshtml" model="Model.BookingVm" />

            <br />

            <partial name="~/Views/RoomView/PicturesPartial.cshtml" />

        </div>

    </div>

</form>