@model RoomReservationsVM.ViewModels.RoomView.RoomVm

<div class="row justify-content-center">
    <div class="col-md-8">

        <div class="card mb-4">

            <button asp-action="PreviousRoom" class="float-button float-button-left" type="submit" disabled>
                <span data-feather="arrow-left"></span>
            </button>

            <div class="card-header">
                <h5 class="card-title">@Model.Name</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>@Model.ShortDescription</strong></p>
                <p class="card-text">@Model.LongDescription</p>

                <h6 class="card-subtitle mb-2 text-muted">Cena na noč: <strong>@Model.Price.Value.ToString("n2")€</strong></h6>
            </div>

            <button asp-action="NextRoom" class="float-button float-button-right" type="submit" disabled>
                <span data-feather="arrow-right"></span>
            </button>

        </div>

        <div class="text-center">
            <br />
            <a asp-action="AddNew" class="btn btn-dark">Dodaj novo sobo</a>
            <a asp-action="Edit" asp-route-id="@Model.RoomId" class="btn btn-dark">Uredi sobo</a>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#confirmRoomDeleteModal">
                Izbriši sobo
            </button>
        </div>

    </div>
</div>

<div class="modal fade" id="confirmRoomDeleteModal" tabindex="-1" aria-labelledby="confirmRoomDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Ste prepričani, da želite izbrisati sobo?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Prekliči</button>
                <button asp-action="Delete" asp-route-id="@Model.RoomId" id="btnDeleteRoom" class="btn btn-dark" type="submit" data-bs-dismiss="modal" disabled="true">
                    Potrdi
                </button>
            </div>
        </div>
    </div>
</div>